<h1>Register</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :email %>
    &lt;
    <%= f.label :email %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<h1>Login</h1>
<% form_for :user, @user, :url => login_users_path do |f| %>
  <p>
    <%= f.text_field :email %>
    &lt;
    <%= f.label :email %>
  </p>
  <p>
    <%= f.password_field :password %>
    &lt;
    <%= f.label :password %>
  </p>
  <p>
    <%= f.submit 'Log in' %>
  </p>
<% end %>
