%h1 Account Activated!
%h2 Please fill these out

-form_for(@user) do |f|
  = f.error_messages
  %p
    = f.text_field :first_name
    &lt;
    = f.label :first_name
  %p
    = f.text_field :last_name
    &lt;
    = f.label :last_name
  %p
    = f.password_field :password
    %span{:style => "color:red;"}
      &lt;
      = f.label :password
      (* Required)
  %p
    = button_to_function "Update", "YamTesto.submitUpdateForm(this)"

